{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="main">
    <div class="header">
        <h1>Estoque</h1>
        <h2>Controle de Estoque</h2>
    </div>
    {% for item in estoque %}
    <div class="content">
        <div class="lista">
            <span title="{{ item.pk }}">Codigo: {{ item.pk }}</span>
        </div>
        <div>
            <a>Nome do Produto: {{ item.nome }}</a>            
        </div>
        <div>
            <a> Quantidade: {{ item.qtd }}</a><span>   -   </span>
            <a>Valor: {{ item.valor }}</a><span>   -   </span>
            <a></a>
        </div>
        <hr>
    </div>
    {% empty %}
    <span>Não existe item no banco!</span>
</div>

{% endfor %}
{% endblock %}